@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Fredoka:wght@400;500&family=Poppins:wght@400;500&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF8F0; /* Base color */
  overflow-x: hidden;
}
h1 {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
}
h2 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}
button {
  font-family: 'Baloo 2', sans-serif;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #FFC107;
}
.section-divider {
  background-color: #E6D6F2; /* Secondary background color */
  padding: 20px;
}
