body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 , p{
  font-family: 'Baloo Bhai 2', cursive;
}

button, .cta-button {
  font-family: 'Poppins', sans-serif;
}

.nav-links a {
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";